<p> This is a confirmation mail for the library room booking. The details of which are:<br><br>
  Room Number: <ul><b> <%= @roomhistory.number %></b></ul> <br>
  Booked by: <ul><b><%= @user.username %></b> </ul><br>
  from: <br>
  <ul><b><%= @roomhistory.time_from %> </b> to <b><%= @roomhistory.time_to %></b></ul>
</p>
