<table>
  <thead>
  <tr>
    <th>Room number</th>
    <th>Booked by</th>
    <th>Time from</th>
    <th>Time to</th>
  </tr>
  </thead>

  <tbody>
  <% @roomhistory.each do |roomhistory| %>
      <tr>
        <td><%= roomhistory.number %></td>
        <td><%= roomhistory.userid %></td>
        <td><%= roomhistory.time_from %></td>
        <td><%= roomhistory.time_to %></td>
      </tr>
  <% end %>
  </tbody>
</table>