<span style="display:inline-block; width: 3%;"></span>
<%= link_to 'Log out', logout_path %>

<br><br>
<table>
  <thead>
  <tr>
    <th>Room number</th>
    <th>Building</th>
    <th>Size</th>
  </tr>
  </thead>

  <tbody>
  <% @rooms.each do |room| %>
      <tr>


        <td><% room.number %></td>
        <td><% room.building %></td>
        <td><% room.size %></td>
        <td>| <%= link_to "Schedule", schedule_path(:id => room.id) %></td>

        <td><% if current_member.admin? %>
              | <%= link_to "History", roomhistories_path(:number => room.number) %>
              | <%= link_to "Delete", room, method: :delete, data: { confirm: "You sure?" } %>
          <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>


