<h1>Listing Members</h1>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @member.each do |member| %>
      <tr>
        <td><%= link_to member.username, member%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


